<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='jquery.min.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
 
    <div class="menu">
        <p>Welcome to <%= title %></p>
        <p>Wybierz liczbę elementów: </p>
        <div>
            <input id="size" type="number" value="5" min="1"/>
            <p>Wybierz przedział </p>
            <input id="dim" type="number" value="9" min="1"/>
            <p>Wybierz maksymalna liczbę ruchów <br/> ( 0 oznacza nieskończonść )</p>
            <input id="max" type="number" value="0" min="0"/>
        </div>
        <input type="button" id="graj" value="Zagraj">
    </div>

    <div id="ruchy">
        
        
    </div>
    <div id="wynik"></div>
  </body>
</html>
